@model IEnumerable<LocalProduceApp.Models.Produce>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@* This is the search input form.  *@
<form asp-controller="Produce" asp-action="Index" asp-route-user="@User.Identity?.Name">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<p>
    <a asp-action="Create" asp-route-user="@User.Identity?.Name">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProduceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProducerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Theme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProduceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProducerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Theme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer.ProducerName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProduceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProduceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProduceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
